@media only screen and (max-width: 1199px) and (min-width: 992px) {
  nav.navbar .navbar-nav {
    gap: 20px !important;
  }

  .h-bar P,
  header .h-info a,
  nav.navbar .navbar-nav .nav-link {
    font-size: 14px;
  }

  nav.navbar .btn-wrapper .btn-blue {
    padding: 10px 20px;
  }
  .h-banner {
    height: 640px;
  }
  .h-banner .travel-info {
    padding: 20px;
    margin-bottom: -56px;
  }
  .h-banner .travel-info .form-select {
    font-size: 14px;
  }
  .h-destinations {
    padding-top: 120px;
    .slider-wrapper figure {
      height: 160px;
    }
  }
  .h-destinations .btn-wrapper .btn-blue,
  .h-categories .btn-wrapper .btn-blue {
    padding: 14px 36px;
  }
  .h-activites {
    padding-top: 0;
    .treks {
      ul {
        padding-right: 0;
        a {
          font-size: 14px;
        }
      }
    }
    .activites-links {
      h6 {
        font-size: 13px;
      }
      figure {
        height: 106px;
        margin-bottom: 10px;
      }
    }
  }
  .h-categories {
    padding: 60px 0;
  }
  .h-categories .categories-wrapper .cate-box.m-top {
    margin-top: 50px;
  }
  .h-categories .categories-wrapper .cate-box figure {
    height: 400px;
    figcaption {
      width: 65%;
    }
  }

  .stylist-btn {
    font-size: 18px;
  }
  .heading {
    font-size: 30px;
  }
  .h-packages .packages-box {
    .packages-img {
      ul {
        font-size: 13px;
      }
    }
    .packages-info {
      li {
        display: block;
      }
      h3 {
        margin-bottom: 10px;
        font-size: 18px;
      }
    }
    figure {
      height: 160px;
    }
  }
  .h-packages .packages-warpper .btn-wrapper {
    p {
      font-size: 16px;
    }
    .btn-blue {
      padding: 10px 26px;
    }
  }
  .h-testimonials {
    padding: 60px 0;
  }
  .dest-details .activity-box figure {
    height: 150px;
    figcaption {
      font-size: 14px;
      padding: 10px;
      width: 160px;
    }
  }
  .inner-heading {
    font-size: 40px;
  }
  .dest-details .dest-groups .inner-heading &::before {
    right: 33%;
  }
  .dest-details .details-reviews .rating-total {
    margin-bottom: 20px;
  }
  .dest-details .info-wrapper h3 {
    font-size: 26px;
    line-height: 1.4;
  }
  .act-details .inner-heading::before {
    right: 24.5%;
  }
  .act-details .activity-box figure figcaption {
    width: 110px;
    top: 50%;
  }
  footer {
    .footer-links,
    .footer-info {
      margin-bottom: 40px;
    }
    .footer-social ul a {
      font-size: 20px;
    }
    .inquiry {
      h6 {
        margin-bottom: 30px;
      }
      .btn-wrapper {
        margin-top: 20px;
      }
    }
  }
  .pack-details .summary-box .summary-icon {
    width: 26px;
    height: 26px;
  }
  .pack-details .summary-box .summary-ul h5 {
    font-size: 16px;
  }
  .contact-section .heading {
    font-size: 37px;
    margin-right: 0;
  }
  .contact-section form {
    margin-bottom: 50px;
  }
  .about-page .about-travel .travel-box figure {
    height: 200px;
  }
  .about-page .heading-wrapper .heading {
    font-size: 30px;
  }
  .about-page .about-bar ul li {
    font-size: 14px;
  }
}
@media only screen and (max-width: 991px) {
}

@media only screen and (max-width: 767px) {
}

@media only screen and (max-width: 575px) {
}
